.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
    background-color: #ca0000;
    width: 100%;
}

#chicken {
    background-color: #dbdbdb;
}

#chicken-header {
    margin:auto;
}

.container p {
    padding: 2%
}

/********** Large and Medium devices only **********/
@media (min-width: 767px) {
    .nav-item{
    visibility:hidden;
    }

}
